.section-title-wrapper {
  display: flex;
  align-items: center;
}

.section-title-line {
  position: static;
  display: inline-block;
  width: 120px;
  height: 2px;
  margin-bottom: 10px;
  background-color: hsla(247.912, 78.45%, 54.51%, 1);
  transform-origin: 0% 50%;
}

h2 {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.container__proyects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0px, 350px));
  justify-content: center;
  grid-gap: 25px;
  padding: 30px;

  .container__proyects--item {
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    img {
      margin: 0px;
      width: 100%;
      vertical-align: top;
      height: auto;
    }
  }
}

.button-container {
  padding-top: 56px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.button-container.center {
  display: flex;
  justify-content: center;
}

.outlined-btn.no-margin-top.no-margin-right {
  margin-right: 0px;
}
.outlined-btn.no-margin-top {
  margin-top: 0px;
}
.outlined-btn {
  position: relative;
  margin-top: 16px;
  margin-right: 16px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: hsla(247.912, 78.45%, 54.51%, 1);
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: hsla(247.912, 78.45%, 54.51%, 1);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: hsla(247.912, 78.45%, 54.51%, 1);
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: hsla(247.912, 78.45%, 54.51%, 1);
  background-color: transparent;
  transition-property: color, background-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: ease, ease;
  color: hsla(247.912, 78.45%, 54.51%, 1);
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  text-decoration: none;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.filled-btn-text {
  position: relative;
  z-index: 1;
  text-align: center;
}
